{% extends "layout.html" %}
{% block main %}

    <div id="introduction-container">
        <h1>Global Soundscape Explorer</h1>
        <p>Explore the sounds of the world through an interactive map</p>
    </div>

    <section id="search-section">
        <div id="search-container">
            <form id="search-form" action="search" method="get">
                <input type="search" name="q" id="search-input" placeholder="Search by city or region">
                <input type="submit" value="Search">
            </form>
        </div>
    </section>

    <section id="map-and-sidebar-section">

        <div id="map-container">
            <button id="search-area"  style="display: none;" type="button">Search area for sounds</button>
            <div id="map"></div>
        </div>

        <div id="sidebar-container">

            <div id="sidebar-button-container">
                <button id="data-button" type="button"></button>
            </div>

            <div id="chart-container">
                <canvas id="myChart"></canvas>
            </div>

            <div id="sounds-trail-container">
                <button id="play-trail" type="button">Play Trail</button>
            </div>

        </div>
    </section>

{% endblock %}

