<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>

     <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>

    <link href="static/styles.css" rel="stylesheet"/>
    <script src="static/script.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <title>Globale Soundscape Explorer</title>
  </head>

  <body>
    <main>
      {% block main %}{% endblock %}
    </main>

  </body>
</html>
